.cache/
.config/
.dotfiles.orig/
.landscape/
.local/
.npb/
.nvm/
.npm/
.gitconfig
.oh-my-zsh/
.ssh/
.vim/
.zfunctions/
dotfiles/
usr/
.bash_history
.bash_logout
.bashrc
.histfile
.motd_shown
.profile
.sudo_as_admin_successful
.viminfo
.wget-hsts
.cache/
.config/
.dotfiles.orig/
.landscape/
.npb/
.nvm/
.oh-my-zsh/
.ssh/
.vim/
.zfunctions/
dotfiles/
usr/
.bash_history
.bash_logout
.bashrc
.histfile
.motd_shown
.profile
.sudo_as_admin_successful
.viminfo
.wget-hsts
.zcompdump
.zcompdump-DESKTOP-6HMN2OU-5.8
.zsh_history
.zshrc.pre-oh-my-zsh
.zshrc.pre-oh-my-zsh-2020-07-20_17-28-05
package-lock.json
